body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

#container {
	width: 960px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 


/* Universal styles */

.clearfix {
  clear: both;
}


nav {
	display: block;
	height: 50px;
	width: 960px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    height: 40px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
footer {
	display: block;
	border: 1px solid #383F51;
	height: 150px;
	width: 50px;
}

/* index.html styles */
#hero {
	border: 1px solid #D1BEB0;
	display: block;
	height: 30px;
	width: 30px;
	margin: 50%;
	padding: auto;
}

