body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

#container {
	width: auto;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 


/* Universal styles */

.clearfix {
  clear: both;
}


nav {
	display: inline-block;
	height: 50px;
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
	float: right;
}

li a {
    display: block;
    color: white;
    padding: 25px 25px;
    text-decoration: none;
    height: 25px;
    text-align: left;
}

li {
	float: right;
}


li a:hover {
    background-color: #111;
}
footer {
	display: block;
	border: 1px solid #383F51;
	height: 150px;
	width: 50px;
}

/* index.html styles */
#hero {
	border: 3px solid #D1BEB0;
	display: inline-block;
	margin: 25px;
	padding: 25px;
}

#heropic {
	height: 150px;
	width: 150px;
	border: 3px solid #000;
}